.navbar .navbar-nav {
    flex-direction: row;
}

.navbar .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-toggler {
    border-color: #fff;
}

.font-link {
    font-size: 2em;
}

.font-time {
    font-size: 1.5em;
    color: white;
    align-items: flex-end;
}

body {
    max-width: 100%;
}

.navbar .navbar-nav {
    flex-direction: column;
    margin-left: 1%;
}
.nav-item{
    background-color: #002747;
    width: auto;
    margin-bottom: 1%;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
.font-time{
    margin-right: 1%;
}
@media screen and (min-width: 768px) {
    .navbar .navbar-nav {
        flex-direction: row;
    }

    .navbar-toggler {
        margin-bottom: 10px;
    }

    .font-link {
        font-size: 1.5em;
    }

    .font-time {
        font-size: 1.2em;
        color: white;
    }

    .btn-toggler {
        display: none;
    }

    .navbar>.container {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: center;
        margin: 1px 1px 1px 1px;
    }
    .nav-item{
        font-size: 1em;
        height: 50px;
    }
    .navbar .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 0px;
    }
    .nav-ejec{
        width: 260px;
    }
    


}


@media screen and (min-width: 992px) {
  

    .navbar>.container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        align-content: center;

    }

    .col-lg-3 {
        width: 33.3%;
    }
   


}

@media screen and (min-width: 1200px) {
    .navbar .navbar-nav {
        flex-direction: row;
    }

    .font-link {
        font-size: 1.5em;
    }

    .font-time {
        font-size: 2em;
        color: white;
    }

    .reg {
        margin-left: 5%;
    }
    .col-lg-3 {
        width: 25%;;
    }
    .nav-item{
        font-size: 1em;
        height: 50px;
        font-weight: normal ;
    }
   
    .nav-ejec{
        width: 250px;
    }

}