html,
body {
    background-color: #f8f9fa;
    min-height: 100vh;
    margin: 0;
    overflow: auto
}

.buttonLogin {
    background-color: #30536E !important;
    border: none !important;
}

.display-4 {
    font-weight: bold !important;
    font-size: 4em;
    text-align: center;

}

.text-design {
    font-size: 2em;
    text-align: center;

}

.input-form {
    font-size: 2em;
    margin-top: 7%;
    padding: 1%;
}

.labelRegistro {
    margin-top: 3%;
    text-decoration: underline;
    cursor: pointer;
}

.buttonLogin {
    margin-top: 7%;
    font-size: 2em;
}

.labelRegistro {
    font-size: 2em;
}

.panelLogin {
    background-color: #f8f9fa !important;
}

.lineaLogin {
    border: 3px solid green;
    max-width: 40px;
    margin: 0px;
}

.tituloLogin {
    padding-left: 20px !important;
}

.panelRegistro {
    /* padding: 20px !important; */
}


.obligatorio {
    display: none;
    font-size: 2.2em;
    color: red;
}


.text-design {
    color: #6c757d !important;
}

.alert {
    font-size: 2em;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .display-4 {
        font-size: 2.5em;
        text-align: center;

    }

    .text-design {
        font-size: 1em;
        text-align: center;

    }


    .input-form {
        font-size: 1.5em;
        margin-top: 7%;
        padding: 1%;
    }

    .buttonLogin {
        margin-top: 7%;
        font-size: 1.5em;
    }

    .labelRegistro {
        font-size: 1.5em;
    }

    .panelLogin {
        width: 70%;
    }

    .container-fluid {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media screen and (min-width: 768px)and (max-width: 992px) {

    html,
    body {
        background-image: url('../img/consultas.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    .container-fluid {
        height: 80%;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        align-content: center;
        justify-content: center;
    }

    .panelLogin {
        display: -ms-flexbox;
        border: 2px solid black;
        border-radius: 2%;
    }
    .alert{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) and (max-width: 2000px) {
    body {
        background-image: url('');
        background-size: cover;
        background-position: center center;
        height: 100%;
        margin: 0;
    }

    .display-4 {
        font-size: 2.5em;
        text-align: center;

    }

    .text-design {
        font-size: 1em;
        text-align: center;

    }


    .input-form {
        font-size: 1.5em;
        margin-top: 7%;
        padding: 1%;
    }

    .buttonLogin {
        margin-top: 7%;
        font-size: 1.5em;
    }

    .labelRegistro {
        font-size: 1.5em;
    }


    .form-group {
        margin-top: 5%;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        height: 100vh;
    }

    .h5titulo {
        font-size: 3em;
    }

    .modal-dialog {
        max-width: 70%;
    }

    .inputAcceso {
        font-size: 2.2em;
    }

    .inputRecuperar {
        font-size: 2em;
    }

    .bg-image {
        background-image: url('../img/consultas.jpg');
        background-size: cover;
        background-position: center center;
    }
    .alert{
        font-size: 1.2em;
    }

}

@media screen and (min-width: 1200px) {
    .display-4 {
        font-size: 3.5em;
        text-align: left;

    }

    

    .bg-image {
        background-image: url('../img/consultas.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    .text-design {
        font-size: 1.5em;
        text-align: left;

    }

    .input-form {
        font-size: 1.2em;

    }

    .buttonLogin {
        font-size: 1.2em;
    }

    .labelRegistro {
        font-size: 1.2em;
    }
    .alert{
        font-size: 1.2em;
    }

    .container {
        max-width: 100%;

    }

    .container-login {
        display: flex !important;
        min-height: 100vh;
        align-items: center !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        height: 100vh;
        max-width: 100%;
    }

    .panelLogin {
        margin-top: 0%;
    }

    body {}

    .container-fluid {}
}